.App {
  text-align: center;
}

* {
  box-sizing: border-box;
  margin:0;
  padding:0
}
#root {
  width:100vw;
  height:100vh;
}
 @font-face {
  font-family: snes-font;
  src: url(../public/SnesItalic-1G9Be.ttf);
 }


 .controller-text {
  color:white;font-size: 36px;font-family: snes-font;width:500px;text-align: center;
 }

 .container {
  position: absolute;
  left:0;
  width: 100vw;
  height:100vh;
  z-index:3;
  display: flex;
  align-items: center;
  justify-content: start;
  margin-left:28px
  /* max-width:1440px; */

 }
 .contact-form {
  color:white;
  font-family: snes-font;
  display: flex;
  height: fit-content;
  flex-direction: column;
  background: blue;
  width:400px;
  height:540px;
  justify-content:space-between;
  border-radius: 8px;
  
  /* font-family: ; */
 }
 .cf-title {
font-size: 36px;
 }
 .cf-data {
  padding:16px;
 }

 .cf-input {
  height:24px;
  width:100%

 }